<!-- build:remove -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Risk Severity</title>
  </head>
  <body>
<!-- /build -->
<div>

    <!-- build:style inline bundle -->
    <link rel="stylesheet" href="app.css"/>
    <!-- /build -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <!-- build:script inline main -->
    <script src="config.js"></script>
    <script src="controllers.js"></script>
    <!-- /build -->

    <div ng-controller="SeverityRiskCtrl" ng-app>
      
      <div ng-show="step===steps && agency && project">
        <h1>{{ project }}</h1>
        <h2>{{ agency }}</h2>
        <p>Assessment completed {{ assessmentDate }}</p>
      </div>

      <div ng-show="step < steps">
        <h2>{{ stageGroup }} - {{ stage.title }} (Step {{ step }}/{{ steps }})</h2>
        <div style="display: inline-block; width: 30%; vertical-align: top;" ng-repeat="level in stage.levels">
          <label>
            <input type="radio" name="score" ng-model="$parent.scores[step-1]" ng-value="level.score"/>
            {{ level.scoreLabel }}
          </label>
          <p style="white-space: pre-line;">
          {{ level.text }}
          </p>
        </div>
      </div>

      <div ng-show="step===steps">
	<h3>Oversight Level</h3>
	<p>
	  Overall project oversight level is <span ng-class="oversightLevelStyle()">{{ oversightLevel() }}</span>
	</p>

	<table>
	  <caption>Severity</caption>
	  <thead>
	    <tr>
	      <th ng-repeat="criteria in data.severity">
		{{ criteria.title }}
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
              <td ng-class="scoreText(scores[i])" ng-repeat="i in [ 0,1,2,3 ]">
                {{ scoreText(scores[i]) }}
              </td>
	    </tr>
	  </tbody>
	</table>

	<table>
	  <caption>Risks</caption>
	  <thead>
	    <tr>
	      <th ng-repeat="criteria in data.risks">
		{{ criteria.title }}
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
              <td ng-class="scoreText(scores[i])" ng-repeat="i in [ 4,5,6,7 ]">
                {{ scoreText(scores[i]) }}
              </td>
	    </tr>
	  </tbody>
	</table>
      </div>

      <div>
        <input type="button" value="Previous" ng-show="step!=1" ng-click="previous();"/>
        <input type="button" value="Next" ng-disabled="!scores[step-1]" ng-show="step<steps" ng-click="next();"/>
      </div>

      <div class="no-print" ng-show="step===steps">
        <hr/>
        <p>
          To create a printer friendly page to submit to OCIO, please fill in the following fields:
        </p>
        <label>Project: <input type="text" length="60" ng-model="project"/></label><br/>
        <label>Agency: <input type="text" length="60" ng-model="agency"/></label><br/>
      </div>

     
    </div>

</div>
<!-- build:remove -->
  </body>
</html>
<!-- /build -->
