<div>

    <link rel="stylesheet" href="app.css"/>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
    <script src="controllers.js"></script>
    <div ng-controller="SeverityRiskCtrl" ng-app>

      <div id="scoreResults" ng-show="(selectedSeverityCount+selectedRiskCount)==8">
	<h2>Oversight Level</h2>
	<p>
	Overall project oversight level is <span ng-class="oversightLevelStyle()">{{ oversightLevel() }}</span>
	</p>
      </div>

      <div id="severity">
	<h2>Severity</h2>
        <p>
          The severity matrix assesses the proposed project's impact on citizens and state operations, its visibility to stakeholders, and the consequences of project failure.
        </p>
	<table class="calculator">
	  <caption ng-show="selectedSeverityCount==4" ng-class="scoreStyle(severityScore)">Severity Score {{ severityScore }}</caption>
	  <caption ng-show="selectedSeverityCount<4" class="red">Please select a score for each category</caption>
	  <thead>
	    <tr>
	      <th ng-repeat="criteria in data.severity">
		{{ criteria.title }}
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="i in [ 0,1,2 ]">
	      <td ng-repeat="criteria in data.severity" ng-click="updateSeverity($index,i)" ng-class="cellStyle(data.severity,$index,i)">{{ criteria.levels[i].text }}</td>
	    </tr>
	    <tr class="printOnly">
	      <td id="severityPrint0"></td>
	      <td id="severityPrint1"></td>
	      <td id="severityPrint2"></td>
	      <td id="severityPrint3"></td>
	    </tr>
	  </tbody>
	</table>
      </div>
      
      <div id="risks">
	<h2>Risk</h2>
        <p>
          The risk matrix measures the impact of the project on the organization, the effort needed to complete the project, the stability of the proposed technology, and agency preparedness.
        </p>
	<table class="calculator">
	  <caption ng-show="selectedRiskCount==4" ng-class="scoreStyle(risksScore)">Risks Score {{ risksScore }}</caption>
	  <caption ng-show="selectedRiskCount<4" class="red">Please select a score for each category</caption>
	  <thead>
	    <tr>
	      <th ng-repeat="criteria in data.risks">
		{{ criteria.title }}
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="i in [ 0,1,2 ]">
	      <td class="calculator" ng-repeat="criteria in data.risks" ng-click="updateRisks($index,i)" ng-class="cellStyle(data.risks,$index,i)">{{ criteria.levels[i].text }}</td>
	    </tr>
	    <tr class="printOnly">
	      <td class="calculator" id="riskPrint0"></td>
	      <td class="calculator" id="riskPrint1"></td>
	      <td class="calculator" id="riskPrint2"></td>
	      <td class="calculator" id="riskPrint3"></td>
	    </tr>
	  </tbody>
	</table>
      </div>
      
    </div>

</div>
