<!-- build:remove -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Risk Severity</title>
  </head>
  <body>
<!-- /build -->
<div>

    <!-- build:style inline bundle -->
    <link rel="stylesheet" href="app.css"/>
    <!-- /build -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <!-- build:remove -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- /build -->

    <!-- build:script inline main -->
    <script src="config.js"></script>
    <script src="controllers.js"></script>
    <!-- /build -->

    <div ng-controller="SeverityRiskCtrl" ng-app>

      <div ng-show="step===steps && agency && project">
        <h1>Project Name: {{ project }}</h1>
        <h2>Agency: {{ agency }}</h2>
        <p>Assessment completed {{ assessmentDate }}</p>
      </div>

      <div ng-show="step===steps && printMode && !(agency && project)">
        <h1>No project/agency entered</h1>
      </div>
      <div ng-show="step < steps && printMode">
        <h2>Please finish the wizard before printing</h2>
      </div>

      <div ng-show="step < steps && !printMode">
        <h2>{{ stageGroup }} - {{ stage.title }} (Step {{ step }}/{{ steps }})</h2>
        <div style="display: inline-block; width: 30%; vertical-align: top;" ng-repeat="level in stage.levels">
          <label>
            <input type="radio" name="score" ng-model="$parent.scores[step-1]" ng-value="level"/>
            {{ level.scoreLabel }}
            <p class="criteria">
              {{ level.text }}
            </p>
          </label>
        </div>
      </div>

      <div ng-show="step===steps">
	<h3>Oversight Level</h3>
	<p>
	  Overall project oversight level is <span ng-class="oversightLevelStyle()">{{ oversightLevel() }}</span>
	</p>

	<table>
	  <caption>Severity</caption>
	  <thead>
	    <tr>
	      <th ng-repeat="criteria in data.severity">
		{{ criteria.title }}
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
              <td ng-repeat="i in [ 0,1,2,3 ]">
                <div ng-class="scoreText(scores[i].score)">
                  {{ scoreText(scores[i].score) }}
                </div>
                <div class="criteria">
                  {{ scores[i].text }}
                </div>
              </td>
	    </tr>
	  </tbody>
	</table>

	<table>
	  <caption>Risks</caption>
	  <thead>
	    <tr>
	      <th ng-repeat="criteria in data.risks">
		{{ criteria.title }}
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
              <td ng-repeat="i in [ 4,5,6,7 ]">
                <div ng-class="scoreText(scores[i].score)">
                  {{ scoreText(scores[i].score) }}
                </div>
                <div class="criteria">
                  {{ scores[i].text }}
                </div>
              </td>
	    </tr>
	  </tbody>
	</table>
      </div>
      
      <div>
        <input type="button" value="Previous" ng-show="step!=1 && !printMode" ng-click="previous();"/>
        <input type="button" value="Next" ng-disabled="!scores[step-1]" ng-show="step<steps && !printMode" ng-click="next();"/>
      </div>

      <div class="no-print" ng-show="step===steps && !printMode">
        <hr/>
        <p>
          To create a printer friendly page to submit to OCIO, please fill in the fields below.  Or start over with a <input type="button" ng-click="startOver()" value="New Assessment"/>
        </p>
        <label>Project: <input type="text" length="60" ng-model="project" ng-change="storeState();"/></label><br/>
        <label>Agency: <input type="text" length="60" ng-model="agency" ng-change="storeState();"/></label><br/>
      </div>

      <!-- build:remove -->
      <div ng-hide="printMode">
        <ul>
          <li class="print_html first">
            <a href="app.html?print=true" title="Display a printer-friendly version of this page." class="print-page" onclick="window.open(this.href); return false" rel="nofollow">Printer-friendly</a>
          </li>
        </ul>
      </div>
      <!-- /build -->
    </div>

</div>
<!-- build:remove -->
  </body>
</html>
<!-- /build -->
